.projects__row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;
}

@media only screen and (max-width: 56.25em) {
    .projects__row {
        text-align: center;
    }
}

@media only screen and (max-width: 56.25em) {
    .projects__row {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-bottom: 8rem;
    }
}

.projects__row-img-cont {
    overflow: hidden;
}

.projects__row-img {
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

@media only screen and (max-width: 56.25em) {
    .projects__row-content {
        align-items: center;
    }
}

.projects__row-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 56.25em) {
    .projects__row-content {
        align-items: center;
    }
}

.projects__row-content-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.projects__row-content-desc {
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.btn--theme {
    background: #7843E9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    text-decoration: none;
}

.btn--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}

.projects__github-link {
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    border-radius: 5px;
    margin-right: 4rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    padding: 0 10px;
}

.projects__github-link-text {
    font-size: 1.6rem;
    padding-left: 10px;
    font-weight: 700;
}

.projects__link {
    display: flex;
}